@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

.NavBar {
    box-sizing: border-box;
    font-family: heebo;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(181, 221, 212);
}

.NavBar ul {
    list-style: none;
}

.NavBar a {
    text-decoration: none;
    font-size: 1.5em;
}

.NavBar li {
    display: inline-block;
    padding: 1px 20px;
}

.NavBar a:hover,
.NavBar a:active,
.NavBar a.active {
    border-bottom: 1px solid black;
    text-shadow: 0 0 3px orange;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}